<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Główna</title>
</head>
<body>

<header>
</header>
<body>
        <div class="formLogin">
            <p th:if="${param.error}" class="error">Wrong user or password</p>
            <form action="/login" method="post" >
                <h3>Logowanie</h3>
                E-mail:<br>
                <input type="text" name="email" th:field="${user.email}" placeholder="example@example.com">
                <br>
                Hasło:<br>
                <input type="password" name="password" th:field="${user.password}" placeholder="password">
                <br><br>
                <input type="submit" value="Zaloguj">
            </form>
        </div>


        <div class="formRegister">
            <form action="/user/add" method="post">
                <h3>Rejestracja</h3>
                Imię:<br>
                <input type="text" name="firstName"  th:field="${user.name}" placeholder="name">
                <br>
                Nazwisko:<br>
                <input type="text" name="lastname" th:field="${user.lastName}" placeholder="last name">
                <br>
                E-mail:<br>
                <p th:if="${param.register}" class="error">Taki adres email już posiada konto!!!!</p>
                <input type="email" name="email" th:field="${user.email}" placeholder="emial@email.com">
                <br>
                Hasło:<br>
                <input type="password" name="password" th:field="${user.password}" placeholder="password">
                <br>
                <br>
                <input type="submit" value="Zarejestruj">
            </form>
        </div>

</body>

</body>
</html>